<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524779227158-s9u0d6770ou5sbfk2rv4pbvragkqhqt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524779227158-s9u0d6770ou5sbfk2rv4pbvragkqhqt3</string>
	<key>API_KEY</key>
	<string>AIzaSyDsaB1pyNPb43FSU_xRvuVfG7Z-zTSPzWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>524779227158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moviles.triqui</string>
	<key>PROJECT_ID</key>
	<string>moviles-c6278unal</string>
	<key>STORAGE_BUCKET</key>
	<string>moviles-c6278unal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524779227158:ios:dd298b2979b8e0c4dd0d37</string>
	<key>DATABASE_URL</key>
	<string>https://moviles-c6278unal.firebaseio.com</string>
</dict>
</plist>